:root {
  --c-neutral-100: hsl(0, 0%, 100%);
  --c-neutral-200: hsl(0, 0%, 98%);
  --c-neutral-400: hsl(0, 0%, 41%);
  --c-neutral-900: hsl(0, 0%, 8%);

  --c-body: var(--c-neutral-900);
  --bg-body: var(--c-neutral-100);

  --ff-primary: "Epilogue", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 500;
  --fw-bold: 700;

  --fw-body: var(--fw-regular);
  --fw-heading: var(--fw-bold);

  --fs-500: 1rem;
  --fs-600: 1.2rem;
  --fs-700: 2.2rem;
  --fs-800: 5rem;

  --fs-nav: var(--fs-500);
  --fs-body: var(--fs-500);
  --fs-heading: var(--fs-700);

  --body-v-padding: 1.5rem;
  --body-h-padding: 1rem;
}

/* Utility classes */

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

/* General styling */

body {
  color: var(--c-body);
  background-color: var(--bg-body);

  font-family: var(--ff-body);
  font-weight: var(--fs-body);
  font-size: var(--fs-body);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-inline: var(--body-h-padding);
  margin-block: 1.5rem;
}

/* Default nav */

.nav {
  background: hsl(0, 0%, 100%);
  background-color: var(--c-neutral-100);
  font-size: var(--fs-nav);

  padding-top: 5rem;
  position: fixed;
  inset: 0 0 0 36%;
  z-index: 100;

  transform: translateX(100%);
}

.overlay {
  background-color: hsl(0, 0%, 8%, 80%);
  opacity: 0;

  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;

}

.nav__toggle {
  border: none;
  background-color: transparent;
  background-image: url("images/icon-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 18px;
  cursor: pointer;
  z-index: 1000;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
  margin-bottom: 2rem;
  padding-inline: 1.5rem;
  color: var(--c-neutral-400);
}

.nav__list > li {
  padding-block: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.nav__list > li:hover > a,
.nav__list > li:hover > .nav__label,
.nav__sublist > li:hover > a {
  color: black;
}

.nav__list a {
  text-decoration: none;
}

.nav__list a:visited {
  color: inherit;
}

.nav--auth {
  text-align: center;
}

.nav__label {
  display: flex;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
}

.nav__sublist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  padding-inline: 0;
  overflow: hidden;
}

.nav__sublist li {
  margin-left: 2rem;
}

.nav__sublist li:first-child {
  margin-top: 1rem;
}

.nav__sublist li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.nav__sublist img {
  width: 1.25rem;
  object-fit: none;
  object-position: center;
}

.nav__btn {
  border: 1px solid var(--c-neutral-400);
  border-radius: 15px;
}


/* Nav is active */

.nav__toggle[aria-expanded="true"] {
  background-image: url("/images/icon-close-menu.svg");
  width: 26px;
  height: 26px;
}

.nav[data-active="true"] {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}

.nav[data-active="true"] ~ .overlay {
  opacity: 1;
  pointer-events: initial;
}

.nav__list li[data-active="true"] > .nav__sublist {
  max-height: 10rem;
}

.nav__list li[data-active="true"] .nav__arrow {
  transform: rotate(180deg);
}

/* Main content */

.container {
  display: flex;
  flex-direction: column;
}

.hero__wrapper {
  aspect-ratio: 750 / 564;
  max-height: 50vh;
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url("/images/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.content {
  text-align: center;
  padding: 2.5rem var(--body-h-padding);
  max-width: 40rem;
  margin-inline: auto;
}

.content__heading {
  font-size: var(--fs-heading);
  margin-bottom: 1rem;
}

.content__description {
  color: var(--c-neutral-400);
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.content__btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;

  color: var(--c-neutral-100);
  background-color: hsl(0, 0%, 8%);
  border-radius: 15px;

  text-decoration: none;
  line-height: 100%;
}


.content__sponsors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.content__sponsors img {
  max-height: 100%;
  margin-inline: auto;
}
